*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-gray: #a4aec4;
  --bg-yellow: #f3c237;
  --bg-green: #5ac85a;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

button {
  font-family: inherit;
}

header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header h1 {
  font-size: 4rem;
}

main {
  margin-top: 1rem;
}

.grid {
  height: 30rem;
  width: 30rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5rem;
}

.row {
  display: flex;
  gap: 0.5rem;
}

.row div {
  width: 20%;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
}

.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

.give-up {
  padding: 0.5rem;
  border: none;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  width: 7.5rem;
}

.outcome {
  text-align: center;
  margin-top: 1rem;
}

.gray {
  --background: var(--bg-gray);
  --border-color: var(--bg-gray);
  animation: flip 0.5s ease forwards;
}

.yellow {
  --background: var(--bg-yellow);
  --border-color: var(--bg-yellow);
  animation: flip 0.5s ease forwards;
}

.green {
  --background: var(--bg-green);
  --border-color: var(--bg-green);
  animation: flip 0.5s ease forwards;
}

.row > div:nth-child(2) {
  animation-delay: 0.3s;
}
.row > div:nth-child(3) {
  animation-delay: 0.45s;
}
.row > div:nth-child(4) {
  animation-delay: 0.65s;
}
.row > div:nth-child(5) {
  animation-delay: 0.85s;
}

.keyboard {
  width: 45%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.k-row {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.key {
  background-color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid lightgray;
  padding: 0.25rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.modal-container {
  height: 27.5rem;
  width: 23.5rem;
  background-color: white;
  text-align: center;
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-message {
  padding: 0.5rem;
  background-color: #f1f3f9;
  font-weight: bold;
}

.modal-solution-container {
  margin: 1rem 0;
}

.modal-solution-container p {
  margin-bottom: 0.5rem;
}

.modal-solution-container span {
  display: inline-block;
  text-align: center;
  width: 7.5rem;
  text-transform: uppercase;
  padding: 0.5rem;
  border: 1px solid #a4aec4;
  border-style: dashed;
  margin-bottom: 1rem;
  background-color: #f1f3f9;
  border-radius: 0.25rem;
}

.win {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.win svg {
  font-size: 2.5rem;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-game {
  width: 10rem;
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: #16a34a;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
}

.new-game:hover {
  background-color: #22c55e;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background: white;
    border-color: lightgray;
  }

  45% {
    transform: rotateX(90deg);
    background: white;
    border-color: lightgray;
  }

  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }

  100% {
    transform: rotateX(0);
    background: var(--background);
    border-color: var(--border-color);
    color: white;
  }
}

@keyframes bounce {
  0% { 
    transform: scale(1);
    border-color: #ddd;
  }
 
  50% { 
    transform: scale(1.2);
  }
 
  100% {
    transform: scale(1);
    border-color: #333;
  }
}